<a href="https://colab.research.google.com/github/jlopez1288/-Python-projects-Data-201/blob/main/NYCSchools_Student__testperformance_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Install geopandas
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)

**LIBRARIES**

In [49]:
##import tools: NumPy for Advanced linear algebra, Matplotlib for Visualization and data plotting, Pandas for Data manipulation and analysis, Geopandas for programming geospatial data in python,  matplotlib.pyplot for plotting map
#folium for map visuals
import geopandas as gpd
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as py
from shapely.geometry import Point
import matplotlib
import folium 
from time import sleep

**OBJECTIVES**


*   Analyze student test performance
*   Pick a school in the data as an initial point
*   Pick a feature/measure/score
*   Compare above school to schools in the entire dataset within a Borough/District
*   Descriptive Statistics
*   Cleaning tasks
*   Visualization
*   Conclusion

**Read the data**

In [35]:
missing_values=['s','naN', 'NaN','--','na']

In [36]:
#Imported data ( CSV> dataframe)
url= 'https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv'
Schools= pd.read_csv(url)

In [37]:
Schools

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,na,na

Warning: total number of rows (212331) exceeds max_rows (20000). Limiting to first (20000) rows.

**Info about my dataset**

In [40]:
#Rows & Columns of Schools Dataset
Schools.shape

(212331, 15)

In [42]:
Schools.head(15)

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,na,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,na,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,na,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,na,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,na,na
5,01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2015,9,67.4,3,33.3,6,66.7,0,0,na,na
6,01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2016,15,72.6,2,13.3,13,86.7,5,33.3,na,na
7,01M140,P.S. 140 Nathan Straus,K-8,Living Environment,2017,9,64.4,5,55.6,4,44.4,1,11.1,na,na
8,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2015,49,78.4,1,2,48,98,23,46.9,48,98
9,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2016,51,79,9,17.6,42,82.4,33,64.7,40,78.4
10,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2017,51,84.8,0,0,51,100,44,86.3,50,98
11,01M184,P.S. 184m Shuang Wen,K-8,Living Environment,2017,55,83.9,1,1.8,54,98.2,43,78.2,na,na
12,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2015,23,62.9,14,60.9,9,39.1,0,0,2,8.7
13,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2016,22,69,6,27.3,16,72.7,2,9.1,15,68.2
14,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2017,20,67.4,7,35,13,65,1,5,10,50

.head() method returns back the first 5 rows. You can adjust the number of rows to get back if you want forexample .head(15)

In [43]:
Schools.tail(15)

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
212316,84X706,Harriet Tubman Charter School,K-8,Living Environment,2015,1,s,s,s,s,s,s,s,na,na
212317,84X706,Harriet Tubman Charter School,K-8,U.S. History and Government,2017,3,s,s,s,s,s,s,s,na,na
212318,84X717,Icahn Charter School,K-8,Common Core Algebra,2015,5,s,s,s,s,s,s,s,na,na
212319,84X717,Icahn Charter School,K-8,Common Core Algebra,2015,2,s,s,s,s,s,s,s,na,na
212320,84X717,Icahn Charter School,K-8,Common Core Algebra,2016,8,87.9,0,0,8,100,7,87.5,8,100
212321,84X717,Icahn Charter School,K-8,Common Core Algebra,2016,6,87.2,0,0,6,100,6,100,6,100
212322,84X717,Icahn Charter School,K-8,Common Core Algebra,2017,6,87,0,0,6,100,6,100,6,100
212323,84X717,Icahn Charter School,K-8,Common Core Algebra,2017,6,88.3,0,0,6,100,5,83.3,6,100
212324,84X717,Icahn Charter School,K-8,Living Environment,2015,8,76.5,1,12.5,7,87.5,2,25,na,na
212325,84X717,Icahn Charter School,K-8,Living Environment,2015,6,79.8,0,0,6,100,2,33.3,na,na
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,na,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,na,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,na,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,na,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,na,na

In [12]:
Schools.dtypes

School DBN                     object
School Name                    object
School Level                   object
Regents Exam                   object
Year                            int64
Total Tested                    int64
Mean Score                     object
Number Scoring Below 65        object
Percent Scoring Below 65       object
Number Scoring 65 or Above     object
Percent Scoring 65 or Above    object
Number Scoring 80 or Above     object
Percent Scoring 80 or Above    object
Number Scoring CR              object
Percent Scoring CR             object
dtype: object

In [13]:
Schools.columns

Index(['School DBN', 'School Name', 'School Level', 'Regents Exam', 'Year',
       'Total Tested', 'Mean Score', 'Number Scoring Below 65',
       'Percent Scoring Below 65', 'Number Scoring 65 or Above',
       'Percent Scoring 65 or Above', 'Number Scoring 80 or Above',
       'Percent Scoring 80 or Above', 'Number Scoring CR',
       'Percent Scoring CR'],
      dtype='object')

In [47]:
Schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212331 entries, 0 to 212330
Data columns (total 15 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   School DBN                   212331 non-null  object
 1   School Name                  212331 non-null  object
 2   School Level                 212331 non-null  object
 3   Regents Exam                 212321 non-null  object
 4   Year                         212331 non-null  int64
 5   Total Tested                 212331 non-null  int64
 6   Mean Score                   212331 non-null  object
 7   Number Scoring Below 65      212331 non-null  object
 8   Percent Scoring Below 65     212331 non-null  object
 9   Number Scoring 65 or Above   212331 non-null  object
 10  Percent Scoring 65 or Above  212331 non-null  object
 11  Number Scoring 80 or Above   212331 non-null  object
 12  Percent Scoring 80 or Above  212331 non-null  object
 13  Number Scoring CR            212331 non-null  object
 14  Percent Scoring CR           212331 non-null  object
dtypes: int64(2), object(13)
memory usage: 24.3+ MB

**Descriptive Stats**

In [53]:
Schools.describe

<bound method NDFrame.describe of        School DBN                     School Name School Level  \
0          01M034  P.S. 034 Franklin D. Roosevelt          K-8
1          01M034  P.S. 034 Franklin D. Roosevelt          K-8
2          01M034  P.S. 034 Franklin D. Roosevelt          K-8
3          01M140          P.S. 140 Nathan Straus          K-8
4          01M140          P.S. 140 Nathan Straus          K-8
...           ...                             ...          ...
212326     84X717            Icahn Charter School          K-8
212327     84X717            Icahn Charter School          K-8
212328     84X717            Icahn Charter School          K-8
212329     84X717            Icahn Charter School          K-8
212330     84X717            Icahn Charter School          K-8

                       Regents Exam  Year  Total Tested Mean Score  \
0               Common Core Algebra  2017             4          s
1                Living Environment  2015            16       77.9
2                Living Environment  2016             9         74
3               Common Core Algebra  2016             3          s
4               Common Core Algebra  2017             2          s
...                             ...   ...           ...        ...
212326           Living Environment  2016             8          s
212327           Living Environment  2016             5          s
212328           Living Environment  2017             6          s
212329           Living Environment  2017             4          s
212330  U.S. History and Government  2015             1          s

       Number Scoring Below 65 Percent Scoring Below 65  \
0                            s                        s
1                            1                      6.3
2                            1                     11.1
3                            s                        s
4                            s                        s
...                        ...                      ...
212326                       s                        s
212327                       s                        s
212328                       s                        s
212329                       s                        s
212330                       s                        s

       Number Scoring 65 or Above Percent Scoring 65 or Above  \
0                               s                           s
1                              15                        93.8
2                               8                        88.9
3                               s                           s
4                               s                           s
...                           ...                         ...
212326                          s                           s
212327                          s                           s
212328                          s                           s
212329                          s                           s
212330                          s                           s

       Number Scoring 80 or Above Percent Scoring 80 or Above  \
0                               s                           s
1                               7                        43.8
2                               2                        22.2
3                               s                           s
4                               s                           s
...                           ...                         ...
212326                          s                           s
212327                          s                           s
212328                          s                           s
212329                          s                           s
212330                          s                           s

       Number Scoring CR Percent Scoring CR
0                     na                 na
1                     na                 na
2                     na                 na
3                     na                 na
4                     na                 na
...                  ...                ...
212326                na                 na
212327                na                 na
212328                na                 na
212329                na                 na
212330                na                 na

[212331 rows x 15 columns]>

In [62]:
Schools.groupby(['School Level','School Name','Regents Exam','Percent Scoring 80 or Above', 'Year']).count()

                                                                                                                       School DBN  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017           3
                                                                                     s                           2016           6
                                                                                                                 2017           4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015           7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015           5
...                                                                                                                           ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015           1
                                                                                     78.6                        2017           1
                                                                                     s                           2015           4
                                                                                                                 2016           4
                                                                                                                 2017           4

                                                                                                                       Total Tested  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017             3
                                                                                     s                           2016             6
                                                                                                                 2017             4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015             7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015             5
...                                                                                                                             ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015             1
                                                                                     78.6                        2017             1
                                                                                     s                           2015             4
                                                                                                                 2016             4
                                                                                                                 2017             4

                                                                                                                       Mean Score  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017           3
                                                                                     s                           2016           6
                                                                                                                 2017           4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015           7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015           5
...                                                                                                                           ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015           1
                                                                                     78.6                        2017           1
                                                                                     s                           2015           4
                                                                                                                 2016           4
                                                                                                                 2017           4

                                                                                                                       Number Scoring Below 65  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                        3
                                                                                     s                           2016                        6
                                                                                                                 2017                        4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                        7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                        5
...                                                                                                                                        ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                        1
                                                                                     78.6                        2017                        1
                                                                                     s                           2015                        4
                                                                                                                 2016                        4
                                                                                                                 2017                        4

                                                                                                                       Percent Scoring Below 65  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                         3
                                                                                     s                           2016                         6
                                                                                                                 2017                         4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                         7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                         5
...                                                                                                                                         ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                         1
                                                                                     78.6                        2017                         1
                                                                                     s                           2015                         4
                                                                                                                 2016                         4
                                                                                                                 2017                         4

                                                                                                                       Number Scoring 65 or Above  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                           3
                                                                                     s                           2016                           6
                                                                                                                 2017                           4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                           7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                           5
...                                                                                                                                           ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                           1
                                                                                     78.6                        2017                           1
                                                                                     s                           2015                           4
                                                                                                                 2016                           4
                                                                                                                 2017                           4

                                                                                                                       Percent Scoring 65 or Above  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                            3
                                                                                     s                           2016                            6
                                                                                                                 2017                            4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                            7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                            5
...                                                                                                                                            ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                            1
                                                                                     78.6                        2017                            1
                                                                                     s                           2015                            4
                                                                                                                 2016                            4
                                                                                                                 2017                            4

                                                                                                                       Number Scoring 80 or Above  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                           3
                                                                                     s                           2016                           6
                                                                                                                 2017                           4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                           7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                           5
...                                                                                                                                           ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                           1
                                                                                     78.6                        2017                           1
                                                                                     s                           2015                           4
                                                                                                                 2016                           4
                                                                                                                 2017                           4

                                                                                                                       Number Scoring CR  \
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                  3
                                                                                     s                           2016                  6
                                                                                                                 2017                  4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                  7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                  5
...                                                                                                                                  ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                  1
                                                                                     78.6                        2017                  1
                                                                                     s                           2015                  4
                                                                                                                 2016                  4
                                                                                                                 2017                  4

                                                                                                                       Percent Scoring CR
School Level     School Name                             Regents Exam                Percent Scoring 80 or Above Year
Elementary       Imagine Me Leadership Charter School    Living Environment          0                           2017                   3
                                                                                     s                           2016                   6
                                                                                                                 2017                   4
                 P.S. 111 Adolph S. Ochs                 Common Core Algebra         s                           2015                   7
                 P.S. 202 Ernest S. Jenkyns              Living Environment          s                           2015                   5
...                                                                                                                                   ...
Secondary School Young Women's Leadership School, Queens U.S. History and Government 74.6                        2015                   1
                                                                                     78.6                        2017                   1
                                                                                     s                           2015                   4
                                                                                                                 2016                   4
                                                                                                                 2017                   4

[127831 rows x 10 columns]

In [50]:
Schools.groupby([ 'School Level', 'Regents Exam', 'Year', 'Mean Score', 'Number Scoring Below 65', 'Number Scoring 65 or Above', 'Number Scoring 80 or Above']).count()

                                                                                                                                            School DBN  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                    7
                 Living Environment          2015 s          s                       s                          s                                    5
                                             2016 s          s                       s                          s                                    6
                                             2017 67.8       6                       12                         0                                    3
                                                  s          s                       s                          s                                    4
...                                                                                                                                                ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                   1
                                                  94.3       0                       8                          7                                    1
                                                  95.1       0                       41                         41                                   1
                                                                                     7                          7                                    1
                                                  s          s                       s                          s                                  271

                                                                                                                                            School Name  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                     7
                 Living Environment          2015 s          s                       s                          s                                     5
                                             2016 s          s                       s                          s                                     6
                                             2017 67.8       6                       12                         0                                     3
                                                  s          s                       s                          s                                     4
...                                                                                                                                                 ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                    1
                                                  94.3       0                       8                          7                                     1
                                                  95.1       0                       41                         41                                    1
                                                                                     7                          7                                     1
                                                  s          s                       s                          s                                   271

                                                                                                                                            Total Tested  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                      7
                 Living Environment          2015 s          s                       s                          s                                      5
                                             2016 s          s                       s                          s                                      6
                                             2017 67.8       6                       12                         0                                      3
                                                  s          s                       s                          s                                      4
...                                                                                                                                                  ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                     1
                                                  94.3       0                       8                          7                                      1
                                                  95.1       0                       41                         41                                     1
                                                                                     7                          7                                      1
                                                  s          s                       s                          s                                    271

                                                                                                                                            Percent Scoring Below 65  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                                  7
                 Living Environment          2015 s          s                       s                          s                                                  5
                                             2016 s          s                       s                          s                                                  6
                                             2017 67.8       6                       12                         0                                                  3
                                                  s          s                       s                          s                                                  4
...                                                                                                                                                              ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                                 1
                                                  94.3       0                       8                          7                                                  1
                                                  95.1       0                       41                         41                                                 1
                                                                                     7                          7                                                  1
                                                  s          s                       s                          s                                                271

                                                                                                                                            Percent Scoring 65 or Above  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                                     7
                 Living Environment          2015 s          s                       s                          s                                                     5
                                             2016 s          s                       s                          s                                                     6
                                             2017 67.8       6                       12                         0                                                     3
                                                  s          s                       s                          s                                                     4
...                                                                                                                                                                 ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                                    1
                                                  94.3       0                       8                          7                                                     1
                                                  95.1       0                       41                         41                                                    1
                                                                                     7                          7                                                     1
                                                  s          s                       s                          s                                                   271

                                                                                                                                            Percent Scoring 80 or Above  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                                     7
                 Living Environment          2015 s          s                       s                          s                                                     5
                                             2016 s          s                       s                          s                                                     6
                                             2017 67.8       6                       12                         0                                                     3
                                                  s          s                       s                          s                                                     4
...                                                                                                                                                                 ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                                    1
                                                  94.3       0                       8                          7                                                     1
                                                  95.1       0                       41                         41                                                    1
                                                                                     7                          7                                                     1
                                                  s          s                       s                          s                                                   271

                                                                                                                                            Number Scoring CR  \
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                           7
                 Living Environment          2015 s          s                       s                          s                                           5
                                             2016 s          s                       s                          s                                           6
                                             2017 67.8       6                       12                         0                                           3
                                                  s          s                       s                          s                                           4
...                                                                                                                                                       ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                          1
                                                  94.3       0                       8                          7                                           1
                                                  95.1       0                       41                         41                                          1
                                                                                     7                          7                                           1
                                                  s          s                       s                          s                                         271

                                                                                                                                            Percent Scoring CR
School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
Elementary       Common Core Algebra         2015 s          s                       s                          s                                            7
                 Living Environment          2015 s          s                       s                          s                                            5
                                             2016 s          s                       s                          s                                            6
                                             2017 67.8       6                       12                         0                                            3
                                                  s          s                       s                          s                                            4
...                                                                                                                                                        ...
Secondary School U.S. History and Government 2017 94         0                       30                         30                                           1
                                                  94.3       0                       8                          7                                            1
                                                  95.1       0                       41                         41                                           1
                                                                                     7                          7                                            1
                                                  s          s                       s                          s                                          271

[133156 rows x 8 columns]

Warning: total number of rows (133156) exceeds max_rows (20000). Limiting to first (20000) rows.

In [51]:
Schools.groupby(['School DBN', 'School Name', 'School Level', 'Regents Exam', 'Year', 'Mean Score', 'Number Scoring Below 65', 'Number Scoring 65 or Above', 'Number Scoring 80 or Above']).mean()

                                                                                                                                                                                  Total Tested
School DBN School Name                    School Level Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
01M034     P.S. 034 Franklin D. Roosevelt K-8          Common Core Algebra         2017 s          s                       s                          s                               2.222222
                                                       Living Environment          2015 75.5       1                       5                          3                               6.000000
                                                                                        77.9       1                       15                         7                              16.000000
                                                                                                                           8                          4                               9.000000
                                                                                        78         0                       7                          3                               7.000000
...                                                                                                                                                                                        ...
84X717     Icahn Charter School           K-8          Living Environment          2016 77.1       1                       12                         3                              13.000000
                                                                                        s          s                       s                          s                               6.500000
                                                                                   2017 79.7       0                       10                         5                              10.000000
                                                                                        s          s                       s                          s                               5.000000
                                                       U.S. History and Government 2015 s          s                       s                          s                               1.000000

[151489 rows x 1 columns]

In [19]:
Schools.groupby(['School Name', 'School Level', 'Regents Exam', 'Year', 'Mean Score', 'Number Scoring Below 65', 'Number Scoring 65 or Above', 'Number Scoring 80 or Above']).mean()

                                                                                                                                                                                               Total Tested
School Name                                        School Level     Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar High school      Algebra2/Trigonometry       2015 47.6       6                       3                          1                                   9.00
                                                                                                     53         9                       5                          1                                  14.00
                                                                                                     s          s                       s                          s                                   5.50
                                                                                                2016 34.6       14                      0                          0                                  14.00
                                                                                                     s          s                       s                          s                                   7.00
...                                                                                                                                                                                                     ...
Young Women's Leadership School, Queens            Secondary School U.S. History and Government 2017 81.3       13                      74                         56                                 87.00
                                                                                                     81.5       9                       61                         46                                 70.00
                                                                                                     83.7       9                       64                         53                                 73.00
                                                                                                     85.2       3                       25                         22                                 28.00
                                                                                                     s          s                       s                          s                                   6.25

[151361 rows x 1 columns]

In [20]:
Schools.groupby([ 'School Name',  'Regents Exam', 'Year', 'Mean Score', 'Number Scoring Below 65', 'Number Scoring 65 or Above', 'Number Scoring 80 or Above']).count()

                                                                                                                                                                              School DBN  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                    1
                                                                                    53         9                       5                          1                                    2
                                                                                    s          s                       s                          s                                    6
                                                                               2016 34.6       14                      0                          0                                    2
                                                                                    s          s                       s                          s                                    6
...                                                                                                                                                                                  ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                   2
                                                                                    81.5       9                       61                         46                                   1
                                                                                    83.7       9                       64                         53                                   1
                                                                                    85.2       3                       25                         22                                   1
                                                                                    s          s                       s                          s                                    4

                                                                                                                                                                              School Level  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                      1
                                                                                    53         9                       5                          1                                      2
                                                                                    s          s                       s                          s                                      6
                                                                               2016 34.6       14                      0                          0                                      2
                                                                                    s          s                       s                          s                                      6
...                                                                                                                                                                                    ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                     2
                                                                                    81.5       9                       61                         46                                     1
                                                                                    83.7       9                       64                         53                                     1
                                                                                    85.2       3                       25                         22                                     1
                                                                                    s          s                       s                          s                                      4

                                                                                                                                                                              Total Tested  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                      1
                                                                                    53         9                       5                          1                                      2
                                                                                    s          s                       s                          s                                      6
                                                                               2016 34.6       14                      0                          0                                      2
                                                                                    s          s                       s                          s                                      6
...                                                                                                                                                                                    ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                     2
                                                                                    81.5       9                       61                         46                                     1
                                                                                    83.7       9                       64                         53                                     1
                                                                                    85.2       3                       25                         22                                     1
                                                                                    s          s                       s                          s                                      4

                                                                                                                                                                              Percent Scoring Below 65  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                                  1
                                                                                    53         9                       5                          1                                                  2
                                                                                    s          s                       s                          s                                                  6
                                                                               2016 34.6       14                      0                          0                                                  2
                                                                                    s          s                       s                          s                                                  6
...                                                                                                                                                                                                ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                                 2
                                                                                    81.5       9                       61                         46                                                 1
                                                                                    83.7       9                       64                         53                                                 1
                                                                                    85.2       3                       25                         22                                                 1
                                                                                    s          s                       s                          s                                                  4

                                                                                                                                                                              Percent Scoring 65 or Above  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                                     1
                                                                                    53         9                       5                          1                                                     2
                                                                                    s          s                       s                          s                                                     6
                                                                               2016 34.6       14                      0                          0                                                     2
                                                                                    s          s                       s                          s                                                     6
...                                                                                                                                                                                                   ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                                    2
                                                                                    81.5       9                       61                         46                                                    1
                                                                                    83.7       9                       64                         53                                                    1
                                                                                    85.2       3                       25                         22                                                    1
                                                                                    s          s                       s                          s                                                     4

                                                                                                                                                                              Percent Scoring 80 or Above  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                                     1
                                                                                    53         9                       5                          1                                                     2
                                                                                    s          s                       s                          s                                                     6
                                                                               2016 34.6       14                      0                          0                                                     2
                                                                                    s          s                       s                          s                                                     6
...                                                                                                                                                                                                   ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                                    2
                                                                                    81.5       9                       61                         46                                                    1
                                                                                    83.7       9                       64                         53                                                    1
                                                                                    85.2       3                       25                         22                                                    1
                                                                                    s          s                       s                          s                                                     4

                                                                                                                                                                              Number Scoring CR  \
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                           1
                                                                                    53         9                       5                          1                                           2
                                                                                    s          s                       s                          s                                           6
                                                                               2016 34.6       14                      0                          0                                           2
                                                                                    s          s                       s                          s                                           6
...                                                                                                                                                                                         ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                          2
                                                                                    81.5       9                       61                         46                                          1
                                                                                    83.7       9                       64                         53                                          1
                                                                                    85.2       3                       25                         22                                          1
                                                                                    s          s                       s                          s                                           4

                                                                                                                                                                              Percent Scoring CR
School Name                                        Regents Exam                Year Mean Score Number Scoring Below 65 Number Scoring 65 or Above Number Scoring 80 or Above
47 The American Sign Language and English Secondar Algebra2/Trigonometry       2015 47.6       6                       3                          1                                            1
                                                                                    53         9                       5                          1                                            2
                                                                                    s          s                       s                          s                                            6
                                                                               2016 34.6       14                      0                          0                                            2
                                                                                    s          s                       s                          s                                            6
...                                                                                                                                                                                          ...
Young Women's Leadership School, Queens            U.S. History and Government 2017 81.3       13                      74                         56                                           2
                                                                                    81.5       9                       61                         46                                           1
                                                                                    83.7       9                       64                         53                                           1
                                                                                    85.2       3                       25                         22                                           1
                                                                                    s          s                       s                          s                                            4


In [21]:
Schools.info

<bound method DataFrame.info of        School DBN                     School Name School Level  \
0          01M034  P.S. 034 Franklin D. Roosevelt          K-8
1          01M034  P.S. 034 Franklin D. Roosevelt          K-8
2          01M034  P.S. 034 Franklin D. Roosevelt          K-8
3          01M140          P.S. 140 Nathan Straus          K-8
4          01M140          P.S. 140 Nathan Straus          K-8
...           ...                             ...          ...
212326     84X717            Icahn Charter School          K-8
212327     84X717            Icahn Charter School          K-8
212328     84X717            Icahn Charter School          K-8
212329     84X717            Icahn Charter School          K-8
212330     84X717            Icahn Charter School          K-8

                       Regents Exam  Year  Total Tested Mean Score  \
0               Common Core Algebra  2017             4          s
1                Living Environment  2015            16       77.9
2                Living Environment  2016             9         74
3               Common Core Algebra  2016             3          s
4               Common Core Algebra  2017             2          s
...                             ...   ...           ...        ...
212326           Living Environment  2016             8          s
212327           Living Environment  2016             5          s
212328           Living Environment  2017             6          s
212329           Living Environment  2017             4          s
212330  U.S. History and Government  2015             1          s

       Number Scoring Below 65 Percent Scoring Below 65  \
0                            s                        s
1                            1                      6.3
2                            1                     11.1
3                            s                        s
4                            s                        s
...                        ...                      ...
212326                       s                        s
212327                       s                        s
212328                       s                        s
212329                       s                        s
212330                       s                        s

       Number Scoring 65 or Above Percent Scoring 65 or Above  \
0                               s                           s
1                              15                        93.8
2                               8                        88.9
3                               s                           s
4                               s                           s
...                           ...                         ...
212326                          s                           s
212327                          s                           s
212328                          s                           s
212329                          s                           s
212330                          s                           s

       Number Scoring 80 or Above Percent Scoring 80 or Above  \
0                               s                           s
1                               7                        43.8
2                               2                        22.2
3                               s                           s
4                               s                           s
...                           ...                         ...
212326                          s                           s
212327                          s                           s
212328                          s                           s
212329                          s                           s
212330                          s                           s

       Number Scoring CR Percent Scoring CR
0                     na                 na
1                     na                 na
2                     na                 na
3                     na                 na
4                     na                 na
...                  ...                ...
212326                na                 na
212327                na                 na
212328                na                 na
212329                na                 na
212330                na                 na

[212331 rows x 15 columns]>

In [22]:
Schools.dtypes

School DBN                     object
School Name                    object
School Level                   object
Regents Exam                   object
Year                            int64
Total Tested                    int64
Mean Score                     object
Number Scoring Below 65        object
Percent Scoring Below 65       object
Number Scoring 65 or Above     object
Percent Scoring 65 or Above    object
Number Scoring 80 or Above     object
Percent Scoring 80 or Above    object
Number Scoring CR              object
Percent Scoring CR             object
dtype: object

In [23]:
Schools.columns

Index(['School DBN', 'School Name', 'School Level', 'Regents Exam', 'Year',
       'Total Tested', 'Mean Score', 'Number Scoring Below 65',
       'Percent Scoring Below 65', 'Number Scoring 65 or Above',
       'Percent Scoring 65 or Above', 'Number Scoring 80 or Above',
       'Percent Scoring 80 or Above', 'Number Scoring CR',
       'Percent Scoring CR'],
      dtype='object')

In [24]:
#Renaming dataset
Schools.rename(columns={'School DBN': 'School_DBN','School Name': 'School_Name','School Level': 'School_Level','Regents Exam': 'Regents_Exam','Year': 'Year_','Total Tested': 'Total_Tested','Mean Score': 'Mean_Score','Number Scoring Below 65': 'Number_Scoring_Below_65','Percent Scoring Below 65' :'Percent_Scoring_Below_65','Number Scoring 65 or Above': 'Number_Scoring_65_or_Above','Percent Scoring 65 or Above': 'Percent_Scoring_65_or_Above','Number Scoring 80 or Above': 'Number_Scoring_80_or_Above', 'Percent Scoring 80 or Above': 'Percent_Scoring_80_or_Above', 'Number Scoring CR': 'Number_Scoring_CR','Percent Scoring CR': 'Percent_Scoring_CR'}

SyntaxError: ignored

In [25]:
Schools.isnull()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212327,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212328,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212329,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
212330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
Schools.isnull().sum()

School DBN                      0
School Name                     0
School Level                    0
Regents Exam                   10
Year                            0
Total Tested                    0
Mean Score                      0
Number Scoring Below 65         0
Percent Scoring Below 65        0
Number Scoring 65 or Above      0
Percent Scoring 65 or Above     0
Number Scoring 80 or Above      0
Percent Scoring 80 or Above     0
Number Scoring CR               0
Percent Scoring CR              0
dtype: int64

In [27]:
Schools['Number Scoring CR']= pd.to_numeric(Schools['Number Scoring CR'],errors='coerce')

In [28]:
Schools

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,s,s,s,s,s,s,s,NaN,na
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1,6.3,15,93.8,7,43.8,NaN,na
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74,1,11.1,8,88.9,2,22.2,NaN,na
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,s,s,s,s,s,s,s,NaN,na
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,s,s,s,s,s,s,s,NaN,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,s,s,s,s,s,s,s,NaN,na
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,s,s,s,s,s,s,s,NaN,na
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,s,s,s,s,s,s,s,NaN,na
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,s,s,s,s,s,s,s,NaN,na
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,s,s,s,s,s,s,s,NaN,na

In [29]:
missing_values= ["n/a", "na", "--"]

**DATA SOURCE**

https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv